<section id="sobre" class="bg-secondary mt-4 mt-lg-0">
  <div class="container my-auto">
    <div class="row align-items-center g-3">
      <div class="col-lg-7 order-1 order-lg-0">
        <div>
          <p class="display-5 mb-1">Olá, eu sou <strong class="fw-bold">Vinícius Poli</strong>!</p>
          <span class="display-3 fw-bold fst-italic sobre-banner-text"
            >Aluno.</span
          >
        </div>

        <div class="mt-4">
          <p class="fs-5">
            Sou aluno <strong>Fullstack</strong> do curso
            <strong class="sobre-banner-text">Academia do Programador</strong>. 
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, incidunt beatae? Tempore hic corrupti doloremque officia libero veritatis unde labore ipsa sapiente quisquam molestias, voluptate quas odit, enim optio! Tenetur.
          </p>
        </div>

        <div class="d-flex flex-wrap align-items-center gap-3 fs-5">
          <span>
            <i class="bi bi-geo-alt fs-5"></i>
            Lages, SC - Brasil
          </span>

          <span>-</span>

          <span>
            <i class="bi bi-envelope-at fs-5"></i>
            email&#64;email.net
          </span>

          <span>-</span>

          <span class="d-flex justify-content-center gap-2">
            <a target="_blank" href="https://github.com/github">
              <i class="bi bi-github fs-1"></i>
            </a>

            <a target="_blank" href="https://linkedin.com/in/linkedin">
              <i class="bi bi-linkedin fs-1"></i>
            </a>
          </span>
        </div>
      </div>

      <div class="col-auto mx-auto sobre-banner-img">
        <img class="img-fluid rounded-circle" src="img/img.png" alt="Foto de Vinícius Poli" />
      </div>
    </div>
  </div>
</section>