/* You can add global styles to this file, and also import other style files */

$cor-primaria: #fae06a;
$cor-secundaria: #24220d;
$fonte-padrao: Georgia, 'Times New Roman', serif;

@use 'bootstrap/scss/bootstrap' with (
$primary: $cor-primaria,
$secondary: $cor-secundaria,
$font-family-base: $fonte-padrao,
$font-family-sans-serif: $fonte-padrao
);

@use 'bootstrap-icons';

section {
  display: flex;
  min-height: 100vh;
}

.sobre-banner-text {
  background: linear-gradient(90deg, rgba(255, 222, 37, 0.906), rgba(254, 249, 200, 0.925) 60%);
  background-clip: text;
  color: transparent;
}

.sobre-banner-img {
  background: linear-gradient(90deg, rgba(255, 222, 37, 0.906), rgba(189, 144, 47, 0.925) 60%);
  border-radius: 33% 67% 43% 47% / 66% 41% 68% 34%;
  height: 22rem;
  width: 26rem;

  overflow: hidden;
}